.features-header {
  text-align: center !important;
}

.feature-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 5px;
}

.feature-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--primary-color);
}

.feature-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}
