:root {
  --bg-color: #272044;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

.content {
  background-color: var(--bg-color);
  color: white;
  background-image: url("/images/bg/bg1.png");
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 60px 140px;
}

.__i_btn {
  background: transparent;
  border: transparent;
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.__i_btn_ptimary {
  background: linear-gradient(135deg, #5b00ff, #782eff);
}

/* Main content area */

.main-content-wrapper h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-content-wrapper p {
  font-size: 16px;
  margin-bottom: 20px;
}

.maintainance-notice {
  width: max-content;
  background: linear-gradient(135deg, #5b00ff, #782eff);
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 40px;
  font-weight: 500;
}

.support-wrapper {
  height: 100vh;
}

.support-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.support-form {
  margin: 0 auto;
}

.form-group {
  margin-top: 20px;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 10px;
}

.form-control {
  font-size: 14px !important;
}

.ikontrol-btn-primary {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #5b00ff;
  color: #fff;
  border-radius: 5px;
  elevation: 5;
  font-weight: 500;
  min-width: 100px;
}

@media only screen and (max-width: 900px) {
  .main {
    padding: 60px 20px;
    height: 90vh;
  }

  .content {
    background-position: center;
    background-size: cover;
  }
}
